= form_for @task do |t|
  - if @task.errors.any?
    .errors
      %h2 #{pluralize @task.errors.count, 'Error'}
      - @task.errors.full_messages.each do |msg|
        %ul
          %li 
            = msg
  = t.text_field :title, placeholder: 'Task title'
  = t.text_field :duration, placeholder: 'Duration'
  = t.check_box :urgent
  = t.submit 
