- @tasks.each_with_index do |tasks, index|
  %h2 
    Day
    = index
  %ul{id: 'tasks'}
    - tasks.each do |task|
      =content_tag_for :li, task do
        = link_to task.title, task
        = task.duration
        = task.important

%h2 
  = @total_time
