!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chklist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{type: 'text/css', rel: 'stylesheet', href: 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css'}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'}
    = csrf_meta_tags
  %body
    = link_to 'Home', tasks_path, data: { keybinding: 'h' }
    = link_to 'Dayblock', dayblock_path, data: { keybinding: 'd' }
    = link_to 'Create', new_task_path, data: { keybinding: 'n' }
    - flash.each do |key, msg|
      = content_tag :p, msg, class: key
    = yield
    = render 'tasks/javascript_sorting'
